[Desktop Entry]
Comment=QtEmu - a graphical interface for QEmu
Comment[pl]=QtEmu - interfejs graficzny dla QEmu
Categories=Application;Emulator;Utility
Encoding=UTF-8
Exec=qtemu
Icon=qtemu.png
Name=QtEmu
StartupNotify=true
Terminal=false
Type=Application
