[Desktop Entry]
Comment=QtEmu - a graphical interface for QEmu
Comment[pl]=QtEmu - interfejs graficzny dla QEmu
Exec=qtemu
Icon=qtemu
Name=QtEmu
StartupNotify=true
Terminal=false
Type=Application
Categories=Emulator;Utility;
